.wrap {
display: flex;
}
.modal-link {
	margin-left: 20px;
	text-decoration: none;
	color: #aeaeae;

}
.box {
	width: 340px;
	height: 100vh;
	background-color: #aeaeae;
	display:  none;
}
.modal {
	display: block;
}
